// Microsoft Visual C++ generated resource script.
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#pragma code_page(65001)

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

IDI_IMGTOPDF    ICON    "ImgToPdf.ico"

IDD_IMGTOPDF_DIALOG DIALOGEX 0, 0, 400, 320
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_ACCEPTFILES
CAPTION "ImgToPdf"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "경로:",IDC_LBL_PATH,7,9,20,10
    EDITTEXT        IDC_EDIT_PATH,30,7,240,14,ES_AUTOHSCROLL
    CONTROL         "합치기",IDC_CHECK_MERGE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,273,9,38,10
    PUSHBUTTON      "찾기",IDC_BTN_BROWSE,314,6,38,14
    PUSHBUTTON      "변환",IDC_BTN_CONVERT,355,6,38,14
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",WS_CHILD | WS_VISIBLE,7,26,254,10
    LTEXT           "대기 중",IDC_STATIC_PROGRESS_TXT,264,26,68,10
    PUSHBUTTON      "▲",IDC_BTN_MOVE_UP,335,25,12,12,WS_DISABLED
    PUSHBUTTON      "▼",IDC_BTN_MOVE_DOWN,349,25,12,12,WS_DISABLED
    PUSHBUTTON      "삭제",IDC_BTN_CLEAR,364,25,29,12,WS_DISABLED
    CONTROL         "",IDC_LIST_FILES,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP | WS_VSCROLL,7,42,386,140
    CONTROL         "",IDC_STATIC_PREVIEW,"Static",SS_BLACKFRAME | WS_CHILD | WS_VISIBLE,7,188,386,125
END

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END
#endif

#endif
